sales_pipeline:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "{{ env_var('DBT_SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('DBT_SNOWFLAKE_USER') }}"
      private_key_path: "{{ env_var('DBT_SNOWFLAKE_PRIVATE_KEY_PATH') }}"
      role: TRANSFORMER
      database: ANALYTICS_DB_DEV
      warehouse: ANALYTICS_WH_DEV
      schema: dbt_dev
      threads: 4
    test:
      type: snowflake
      account: "{{ env_var('DBT_SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('DBT_SNOWFLAKE_USER') }}"
      private_key_path: "{{ env_var('DBT_SNOWFLAKE_PRIVATE_KEY_PATH') }}"
      role: TRANSFORMER
      database: ANALYTICS_DB_TEST
      warehouse: ANALYTICS_WH_TEST
      schema: dbt_test
      threads: 4
    prod:
      type: snowflake
      account: "{{ env_var('DBT_SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('DBT_SNOWFLAKE_USER') }}"
      private_key_path: "{{ env_var('DBT_SNOWFLAKE_PRIVATE_KEY_PATH') }}"
      role: TRANSFORMER
      database: ANALYTICS_DB_PROD
      warehouse: ANALYTICS_WH_PROD
      schema: analytics
      threads: 8
